<!-- Sidebar See Also uses site.data.navigation -->
{% assign static_navigation = site.data.navigation %}
{% assign my_folder = page.folder %}
{% for item in static_navigation %}
{% if item.id == my_folder %}
{% if item.folderitems %}
<div class="sidebar-also">
  <h3>See Also</h3>
  <ul class="sidebar-also">
    {% for folderitem in item.folderitems %}
    <li class="{% if folderitem.url==page.url %}active{% endif %}">
      {% if folderitem.external_url %}
      <a class="exlink" href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a>
      {% else %}
      <a class="link" href="{{folderitem.url}}">{{folderitem.title}}</a>
      {% endif %}
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}
{% endfor %}
</nav>