@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

body {
  font-size: 18px;
  font-family: "Source Sans Pro", "Source Sans 3", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

div,
li,
p {
  line-height: 1.5
}

h2,
h4 {
  margin-bottom: .5em
}

h3 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: .75em
}

.su-main-nav ul.su-main-nav__menu-lv1>li:last-child>ul {
  right: 0
}

.alert code,
p code {
  padding: 0 4px
}

footer {
  margin-top: 2em
}

@media (max-width:769px) {
  .sidebar {
    font-size: 16px
  }
}

.sidebar ul li ul {
  margin-top: 0;
  margin-left: 12px
}

.sidebar ul li {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  margin-bottom: 0
}

.sidebar ul li ul li {
  border-bottom: none;
  padding: 2px 0
}

.alert code {
  color: inherit;
  background: rgba(255, 255, 255, .4)
}

#page-content .content a[href^="http://"]:after,
#page-content .content a[href^="https://"]:after,
#page-content a[href^="http://"]:after,
#page-content a[href^="https://"]:after {
  content: "ï‚Ž";
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
  font-size: .8em
}

div.fancy-copy.copied #copyOverlay {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  right: 50%;
  margin-right: -112px;
  font-size: 300px;
  opacity: .3;
  color: #000
}

.form-row .tip-input input {
  width: 100%;
  max-width: 100%
}

.alert.question h3,
div+h2,
div.section-head,
p+h2 {
  margin-top: 1.5em
}

pre,
pre.highlight {
  padding: 1em;
  background-color: #f4f4f4;
  margin: 12px 0
}

.sidebar>.alert {
  margin: 1em 2em 1em 0;
  display: block
}

.sidebar .action-box h2, .sidebar h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 1.25em;
  margin-bottom: .75em;
}

.sidebar ul,
pre {
  display: block
}

.alert {
  margin: 1.5em 0
}

.alert p.h4,
.sidebar h2 {
  font-size: 1.2em;
  font-weight: 600
}

a .fa {
  margin-right: .3em
}

.more-link a,
a.more-link {
  font-weight: 600;
  font-size: .9em;
  padding-left: 0;
  padding-top: 2px;
  display: inline;
  text-transform: uppercase;
  text-decoration: none
}

div.text-chunk {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #b6b1a9
}

div.text-chunk .post {
  margin-top: 0;
  margin-bottom: 1.5em
}

.toggle-all:focus {
  text-decoration: none;
  background-color: transparent;
  color: #333
}

.accordion button.accordion-button {
  background-color: transparent;
  display: flex;
  padding: 1em;
  color: #333;
  width: 100%;
  text-align: left
}

.accordion button.accordion-button:not(.collapsed) {
  background-color: #f4f4f4
}

.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'%3e%3cpath fill-rule='evenodd' stroke = 'black' stroke-width='1px' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'%3e%3cpath fill-rule='evenodd' stroke = 'black' stroke-width='1px' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.btn {
  --bs-btn-padding-y: 8px;
  --bs-btn-padding-x: 12px;
  --bs-btn-font-size: 18px
}

figure.hero-image .h4 {
  font-size: 1.2em;
  font-weight: 600
}

ul.plain-list {
  list-style-type: none
}

.layout {
  padding-top: 6rem
}

code,
kbd,
pre,
samp {
  font-family: Menlo, "Roboto Mono", Monaco, Consolas, "Courier New", monospace
}

code {
  color: #000;
  background-color: #f4f4f4
}

.su-local-footer__action-links a.su-link--email:after,
.su-local-footer__action-links a.su-link--external:after {
  height: 1em;
  width: 1em;
  display: inline-block;
  content: "";
  -webkit-mask: url(../assets/email.svg)no-repeat 0 0;
  mask: url(../assets/email.svg)no-repeat 0 0;
  -webkit-mask-size: contain;
  mask-size: contain
}

.su-local-footer__action-links a.su-link--external:after {
  height: .7em;
  width: .7em;
  -webkit-mask: url(../assets/arrow-up-right.svg)no-repeat 0 0;
  mask: url(../assets/arrow-up-right.svg)no-repeat 0 0
}

.sidebar .action-box {
  background-color: #f4f4f4;
  padding: 1em;
  border: 1px solid #b6b1a9
}

@media (max-width:769px) {
  .sidebar {
    font-size: 16px
  }
}

.sidebar>div,
.sidebar>div.alert {
  margin: 1em 2em 1em 0;
  display: block
}

.sidebar-right>div {
  margin: 1em 0 1em 2em;
  display: block
}

.sidebar>div:first-child {
  margin-top: 0
}

.sidebar .sidebar-toc {
  background-color: #f4f4f4;
  padding: 1em
}

.sidebar-also .active {
  border-left: 2px solid #000;
  padding-left: 1em;
  display: none
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0
}

.sidebar ul a {
  color: #2e2d29;
  text-decoration: none;
  font-weight: 600
}

.alert.question a,
.sidebar ul li ul li a {
  font-weight: 500
}

.sidebar ul a:hover {
  text-decoration: underline
}

.alert .fa-solid {
  margin: 0 .5em;
  opacity: .5
}

.sidebar .alert .fa-solid {
  margin: 0 12px 0 2px
}

div.alert {
  margin: 1.5em 0
}

.alert .title {
  font-weight: 700
}

.alert.question .fa-solid {
  opacity: .5
}

.alert.question {
  background-color: #f4f4f4
}

#copyBtn.funkytown,
.alert.question div {
  text-align: left
}

.alert.note i {
  color: #2e2d29
}

.alert.tip i {
  color: #417865
}

a.no_icon:after,
a[href].noCrossRef::after {
  content: "" !important;
  padding-left: 0
}

.su-local-footer__columns .su-local-footer__social-links a.su-link--external:after,
.su-local-footer__columns .su-local-footer__social-links a.su-link--mailto:after,
.su-lockup a.su-link--external:after,
svg.su-link--external {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.su-hero,
.su-hero__media {

}

#copyBtn.funkytown {
  animation: fadeIn 1s
}

div.fancy-copy {
  position: relative
}

div.fancy-copy.copied {
  background-color: #000;
  opacity: .5
}

#copyOverlay {
  display: none
}

.btn.generate {
  margin-top: .2em;
  margin-bottom:.2em;
}

.btn.copy,
.btn.generate,
.form-control {
  font-size: 16px
}

.tip-input {
  flex-grow: 9
}

a.btn {
  text-decoration: none
}

#powerUrlLink {
  display: block
}

.btn-info {
  color: #fff;
  background-color: #128193;
  border-color: #128193
}

.btn-outline-info {
    color: #128193;
    border-color: #128193;
}

.alert.note {
  color: #2e2d29;
  background-color: #f4f4f4;
}

.su-card .su-card__contents>.h2 {
  margin-bottom: 0;
  font-size: 1.5625em;
  letter-spacing: -.012em;
  font-weight: 700;
  line-height: 1.5
}

.su-link,
a {
  color: #00538f
}

.form-group .replace{
  background-color: #f4f4f4
}

.form-group .replace p{
margin:4px 1em;
}

select#projectPartition {
    padding-right: 16px;
    background-size: 10px;
    background-position: right 3px bottom 50%;
}

.su-local-footer__action-links a.su-link--external:after {
    -webkit-mask: url(../assets/arrow-up-right.svg)no-repeat 0 0;
    mask: url(../assets/arrow-up-right.svg)no-repeat 0 0;
    mask-size: .7em .7em;
}